* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 100%;
    font-size: 16px;
}

/* Colors and Fonts */

/* body elrements */
body, p {
  background: #ffffff;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: #333;
  font-size: 1.125rem;
  line-height: 1.424rem;
}

h1 {
  font-weight: 400;
  font-size: 1.802rem;
}

h2 {
  font-weight: 400;
  font-size: 1.602rem;
}

.library-book h3 {
  color: #333;
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 1rem;
  margin: 0.4rem 0 0.2rem 0;
}

/* unvisited link */
a {
  color: #818181;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #5b5b5b;
}

/* italic text */
em {
  color: #eb7966;
  font-size: 0.889rem;
  line-height: 1rem;
}

ul {
  list-style: none;
  margin: 0;
}

ul li {
  text-transform: lowercase;
  font-variant: small-caps;
}

/* Margins and alignments */
header {
  padding-top: 15px;
}

img {
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-border {
  border: 0.5rem solid #e9e7e0
}

.portrait {
  width: 10rem;
  max-width: 100%;
  text-align: center;
}

.library-book {
  margin: 20px 0;
  display: block;
}

.book-description {
  margin: 1em 0;
}

footer hr {
  background: #333;
  border: 0;
  height: 0.1rem;
  margin: 0.5rem 0;
  width: 2rem;
}
